<div class="container">
    <div class="alert alert-danger" *ngIf="pageError!=''">{{pageError}}</div>
    <div class="form-content border border-dark">
        <h4>Register</h4><br>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
             <div class="mb-3">
                <label for="userName" class="form-label">UserName</label>
                <input type="text" formControlName="userName" class="form-control" id="userName">
                <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)" class="text-form text-danger">
                    <div *ngIf="userName?.errors?.required">
                        UserName is required.
                    </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" id="name">
                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-form text-danger">
                    <div *ngIf="name?.errors?.required">
                        Name is required.
                    </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-form text-danger">
                    <div *ngIf="password?.errors?.required">
                        Password is required.
                    </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
                <div class="form-text text-danger" [ngStyle]="{'display': repeatPass}">
                    Password did't match. 
                </div>
              </div>
            <button class="btn btn-primary" [disabled]="!registerForm.valid">Register</button> &nbsp; &nbsp;<button class="btn btn-dark" routerLink="/homepage">Go back</button>
        </form>
    </div>
</div>

